
<div class="signupDiv">

  <form id ="signupForm" action="/users" onsubmit="return validateSubmitSignupForm()" method="post">

    <input class="singin-input" type="text" name="name" placeholder = "enter name">

    <input class="singin-input" type="text" name="gender" placeholder = "enter gender">

    <input class="singin-input" type="text" id="email" name="email" placeholder = "enter email">

    <input class="singin-input" type="password" id="password" name="password" placeholder = "enter password">

    <button id = "signup-button">Create New Account</button>
  </form>

</div>
