
<div class="new-wrapper">


    <form id = "add-new-style" action="/styles" method="post">
      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>


        <input class = "new-st-input" type="text" name = "hairdressername" placeholder="enter hairdresser name">
        <input class = "new-st-input" type="text" name = "hairpicfront" placeholder="enter pic front">
        <input class = "new-st-input" type="text" name = "hairpicback" placeholder="enter pic back">
        <input class = "new-st-input" type="text" name = "hairpicside" placeholder="enter pic side">
        <input class = "new-st-input" type="text" name = "price" placeholder = "enter price">
        <input class = "new-st-input" type="text" name = "rating" placeholder = "rate experience 1 - 5">
        <input class = "new-st-input" type="text" name = "tag" placeholder = "tags: MEN: undercut / fade / sidepart / short back and sides // FEM: cut / colour / styling " id="tags-input">
        <input class = "new-st-input" type="text" name = "studiowebsiteurl" placeholder="enter website">

        <input type="hidden" name="studioname" id="studio_location" value="">
        <input type="hidden" name="lat" id="studio_lat" value="">
        <input type="hidden" name="lng" id="studio_lng" value="">

        <input class = "new-st-input" type="text" placeholder="enter studio name" size="50" id="pac-input" class="controls" value="">

        <button id = "new-edit-btn">create post</button>

        <div id="map"></div>
    </form>

</div>


<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC-_tjRXvZwDBMsFKx2He46Jv3MBw-_oT0&libraries=places&callback=initMap"
        async defer></script>
