<!-- Header will be on every page so ignored as layout should sort that out -->

<div class = "show_container">

  <div class="left_container">
    <div class="pic1">

    </div>

    <div class="pic2">

    </div>

    <div class="pic3">

    </div>
  </div>

  <div class="right_container">
    <div class="table">
      <ul>
        <li>style</li>
        <li>Studio</li>
        <li>Hairdresser</li>
        <li>Website/Social Network</li>
        <li>Price</li>
        <li>Experience Rating</li>
      </ul>
    </div>

    <div class="map">

    </div>

    <div class="comments">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus quibusdam possimus officia ipsa quam animi eaque magnam obcaecati! Dicta voluptas excepturi libero, minus sint recusandae quisquam, eveniet porro iure unde.
    </div>
  </div>

</div>
