* {
  box-sizing: border-box;
}

.commentsheader {
  background-color: #dee3e7;
  color: #555;
  font-size: 0.8em;
  border: solid 1px #cfd6dc;
  border-top-color: #fcfcfc;
  border-bottom-color: #b2bdc7;
  width: 100%;
  float: left;
  border-bottom: 1px solid grey;
  padding: 5px;
  margin-bottom: 15px;
  font-family: 'Raleway', sans-serif;

}

.userName {
  vertical-align: top;
  float: right;
}

#newCommentText{
  width: 80%;

  height: 30px;
  font-size: 0.85em;
}

.clearfix {
    overflow: auto;
}

#commentsLabel {
  vertical-align: top;
}

#commentText {
  padding: 15px;
  font-family: 'Raleway', sans-serif;
  text-align: center;
}

form {
  display: inline-block;
}

.spanSmall {
  width: 40%;
  float: left;
  height: 100px;
}

.commentsSection {
  background-color: white;
  width: 90%;
  margin: 15px auto;
}

.commentsContainer {
  margin-left: 50px;
  background-color: #f4f4f4;
  border: 1px solid gray;
  margin: 0 auto;
  background-color: white;
}

#newCommentsForm {
  width: 100%;
}

.newCommentContainer {
  margin: 10px auto;
  width: 95%;
  border-radius: 10px;
  text-align: center;
  margin-top: 50px;
}

.postContainer {
    background-color: white;
    margin: 20px auto;
    margin-bottom: 50px;
    width: 80%;
    border: 1px solid black;
}

#delete-comment {
  background-color: #5B2333;
  color: white;
  border: 0px;
  font-family: 'Raleway', sans-serif;
  border: 1px solid #820263;
  border-radius: 5px;
  font-size: 10px;
  padding: 5px;
  margin-left: 20px;
}
