html, body {
height: 100%;
}


// ==============================AUTOCOMPLETE MAP FOR NEW AND EDIT PAGE

#map {
  height: 400px;
  width: 900px;
  text-align: center;
  margin: 0 auto;
  border: 1px solid grey;
}

.controls {
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input {
  background-color: #9593D9;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 300px;
  border: 2px solid #631A86;
}

#pac-input:focus {
  border-color: #4d90fe;
}

.pac-container {
  font-family: Roboto;
}

#type-selector {
  color: #fff;
  background-color: #4d90fe;
  padding: 5px 11px 0px 11px;
}

#type-selector label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}

#tags-input {
  width: 500px;
}


// =================================DISTANCE MAP FOR SHOW PAGE
.distanceMap {
  width: 85%;
  text-align: center;
  margin: 90px auto;
}

#mapDis {
  height: 350px;
  width: 100%;
  border: 1px solid grey;
}

#floating-panel {
  /*position: absolute;*/
  /*top: 10px;
  left: 25%;
  z-index: 5;*/
  width: 100%;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #999;
  text-align: center;
  font-family: 'Roboto','sans-serif';
  line-height: 30px;
  padding-left: 10px;
}
