.edit-wrapper, .new-wrapper {
  background-color: #2A2A2A;
}

.new-st-input, .edit-st-input {
  background-color: #9593D9;;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 300px;
  height: 30px;
  text-align: center;
  margin-bottom: 10px;
  border: 2px solid #631A86;
}

.edit-st-input:focus {
  border-color: #4d90fe;
}

.new-st-input:focus{
  border-color: #4d90fe;
}

#new-edit-btn {
  background-color: #9593D9;
  border: 1px solid #631A86;
  border-radius: 50px;
  height: 90px;
  width: 90px;
  font-size: 20px;
  color: white;
  margin-top: 10px;
  margin-bottom: 50px;
  position: absolute;
  bottom: 0;
  right: 45vw;
  z-index: 1;
  // margin: 30px;
}

#new-edit-btn:hover {
  background-color: #8b0000;
}

#add-new-style {
  // width: 80%;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 150px;
}

#edit-style {
  padding-bottom: 150px;
  text-align: center;
  margin: 0 auto;
}
