<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>The Hair Project</title>
</head>

<body>

<div class = "wrapper">

  <div class = "header">
    <div class = "nav_bar">
      <ul>
        <li>Sign-up</li>
        <li>Login</li>
      </ul>

    <div class = "brand_name"></div>
      <h1>The Hair Project</h1>
    </div>

    <div id = "video_holder">

    </div>

    <div class = "filter">
      <h3>Styles</h3>
    </div>
  </div>


  <div class = "body">

    <div class="card">
      <header class="content card-header">
        <div class="right">Style</div>
        <img class="avatar" src="https://placeholdit.imgix.net/~text?txtsize=75&amp;txt=300%C3%97800&amp;w=300&amp;h=300" alt=""> Name
      </header>

      <div class="image">
        <img class="" src="" alt="">
        <span class="star">
        <!-- <span class="word">like</span> -->
        ★
        </span>
      </div>
    </div>

    <div class="card">
      <header class="content card-header">
        <div class="right">Style</div>
        <img class="avatar" src="https://placeholdit.imgix.net/~text?txtsize=75&amp;txt=300%C3%97800&amp;w=300&amp;h=300" alt=""> Name
      </header>

      <div class="image">
        <img class="" src="" alt="">
        <span class="star">
        <!-- <span class="word">like</span> -->
        ★
        </span>
      </div>
    </div>

    <div class="card">
      <header class="content card-header">
        <div class="right">Style</div>
        <img class="avatar" src="https://placeholdit.imgix.net/~text?txtsize=75&amp;txt=300%C3%97800&amp;w=300&amp;h=300" alt=""> Name
      </header>

      <div class="image">
        <img class="" src="" alt="">
        <span class="star">
        <!-- <span class="word">like</span> -->
        ★
        </span>
      </div>
    </div>
  </div>

  <div class = "footer">

    <footer>&copy; Copyright 2016 The3Nuggets</footer>
  </div>

</div>

</body>
</html>
